<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Deepak Kannan | Programmer</title>
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
  <link href="/css/index.css" rel="stylesheet" type="text/css" media="screen">
</head>

{{ block "main" . }} {{ end }}

</html>