{{ define "css" }}
<style media="screen">
	@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

	:root {
		--font-stack: 'Quicksand', sans-serif;
		--black-color: #333333;
		--light-blue-color: hsla(180, 100%, 99%, 0.98);
		--white-color: hsla(0, 0%, 98%, 0.85);
		--light-brown-color: hsla(37, 47%, 83%, 0.98);
		--big-size: 72px;
		--medium-size: 52px;
		--small-size: 32px;
		--highlight-color: rgba(247, 195, 72, 0.94);
	}
</style>
{{ end }}

{{ define "main" }}
<body class="relief">
	<main role="main">
		<div class="jumbotron">
			<div class="container">
				<h1>Hello! 👋</h1>
				<h2>I'm Deepak Kannan 🔥</h2>
				<h3>a programmer, living in Bangalore - India 🇮🇳</h3>
			</div>
		</div>
	</main>
</body>
{{ end }}